@charset "UTF-8";


#projectshead {
	position: absolute;
	top: 220px;
	left: 100px;
	font-size: 50pt;
}

.projectsp {
    position: absolute;
	background-color: #FFFFFF;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	border-width: thick;
	border-style: solid;
	font-size: 15pt;
	
	top: 55%;
	margin-left: 3%;
	margin-right: 3%;
	padding-left: 3px;
	padding-right: 3px;
		
}

.codefont {
	font-family: Monaco, "Courier New", "monospace";
	font-size: 12pt; 
		
}

#binbg {
	position: relative;
}
